%footer.page-footer
  .copyright
    &copy;&nbsp;2017
    = t("footer.copyright")
  .social
    %ul.social__list
      %li.social__item
        = link_to "https://www.facebook.com/neoconstructivist", 
                  class: "social__link" do
          = t("footer.facebook")
      %li.social__item
        = link_to "https://www.instagram.com/neoconstructivist",
                  class: "social__link" do
          = t("footer.instagram")
      %li.social__item
        = link_to "https://twitter.com/neoconstructive",
                  class: "social__link" do
          = t("footer.twitter")
      %li.social__item
        = link_to "https://vimeo.com/neoconstructivist",
                  class: "social__link" do
          = t("footer.vimeo")
