%header.page-header
  .logo 
    = link_to "neoconstructivist",
              "/",
              class: "logo__link"
  %nav.menu
    %ul.menu__list
      %li.menu__item
        = link_to "Work",
                  "#",
                  class: "menu__link"
      %li.menu__item
        = link_to "About",
                  "#",
                  class: "menu__link"
      %li.menu__item
        = link_to "Research",
                  "#",
                  class: "menu__link"
      %li.menu__item
        = link_to "Contact",
                  "#",
                  class: "menu__link"
