%header.page-header
  .logo 
    = link_to "/index.html", class: "logo__link" do
      = image_tag "assets/images/nc-logo.svg", class: "logo__image"
  %nav.menu
    %ul.menu__list
      %li.menu__item
        = link_to "Work",
                  "/work.html",
                  class: "menu__link"
      %li.menu__item
        = link_to "About",
                  "/about.html",
                  class: "menu__link"
      %li.menu__item
        = link_to "Research",
                  "#",
                  class: "menu__link"
      %li.menu__item
        = link_to "Contact",
                  "/contact.html",
                  class: "menu__link"
