---
title: project
---

%article.project__wrapper
  .project__image-wrapper
    - if !project.images.nil?
      - project.images.each do |image|
        .project__photo
          = image_tag image.url, class: "project__image"
  .project__info
    %h1.project__title 
      = project.title
    %h2.project__description
      = project.description
    %p.project__text
      = project.text
    - if !project.category.nil?
      .project__category
        %ul.category__list
          - project.each do |key, value|
            - if key == "strategy" 
              - if !value.nil?
                - value.each do |tag|
                  %li.category__item
                    = link_to "../../methods/#{tag.parameterize}/", class: "category__link" do
                      = tag
            - if key == "domain"
              - if !value.nil?
                - value.each do |tag|
                  %li.category__item
                    = link_to "../../domains/#{tag.parameterize}/", class: "category__link" do
                      = tag
            - if key == "category"
              - if !value.nil?
                - value.each do |tag|
                  %li.category__item
                    = link_to "../../categories/#{tag.parameterize}/", class: "category__link" do
                      = tag
